@import 'tailwindcss';
@import '@nuxt/ui';

@theme static {
  /* Color */
  --color-primary: #e87722;

  /* Text */
  --color-text-primary: #183028;

  /* Border */
  --color-border-primary: #d0d5dd;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.hover-scale-105 {
  @apply transform transition-transform duration-300 ease-out hover:scale-105;
}

.title {
  @apply text-4xl text-text-primary font-bold;
}
