@import 'tailwindcss';
@import '@nuxt/ui';

@theme static {
  /* Color */
  --color-primary: #e87722;

  /* Text */
  --color-text-primary: #183028;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}
